---
layout: default
title: "Home"
---

<section>
  <div class="container-fluid px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
	<img src="/assets/images/patrick.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-6">
	<h1 class="display-1 fw-bold lh-5 mb-3">
	  Patrick Smyth
	</h1>
	<p class="lead">

	  <div class="d-grid gap-2 d-md-flex justify-content-start">
	    <div class="row">
	      <div class="col">
		<p class="fs-4">Teacher</p>
	      </div>
	      <div class="col">
		<p class="fs-4">Coder</p>
	      </div>
	      <div class="col">
		<p class="fs-4">Writer</p>
	      </div>
	    </div>
	  </div>
	</p>
        <p>
          {% include socials.html %}
        </p>
        
      </div>
    </div>
  </div>

</section>



    {% include projects.html %}

