{% assign posts_sorted = site.posts | sort: "date" | reverse %}
{% assign feed_limit = 3 %}

<section>

  <h2 class="display-3">Recent posts</h2>

  <div class="container-fluid">
    <div class="card-grid">
      {% for post in posts_sorted limit: feed_limit %}
	    <div class="card cover-img">
	      {% if post.image.feature %}
	      <img src="/assets/images/{{ post.image.feature }}" class="card-img-top" alt="">
	      {% else %}
	      <img src="/assets/images/abstract.jpg" class="card-img-top" alt="">
	      {% endif %}

	      <div class="card-body">
	    <h3 class="card-title">
	      <a href="{{ post.url }}" class="stretched-link text-decoration-none text-reset">{{ post.title }}</a>
	    </h3>
	    <p>
	      {% if post.summary %}
	      {{ post.summary }}
	      {% else %}
	      {{ post.excerpt | strip_html | truncate: 140 }}
	      {% endif %}
	    </p>

	  </div>
	</div>
      {% endfor %}
    </div>

    <div class="mt-5">
      <a href="/posts/" class="btn btn-outline-primary btn-lg w-100 py-3 fs-4">All posts &rarr;</a>
    </div>
  </div>
</section>
