{% assign posts_sorted = site.posts | sort: "date" | reverse %}
{% assign feed_limit = 3 %}
{% assign feed_count = posts_sorted.size %}
{% if feed_count > feed_limit %}{% assign feed_count = feed_limit %}{% endif %}
{% assign feed_mod = feed_count | modulo: 2 %}

<section>

  <h2 class="display-3">Recent posts</h2>

  <div class="container-fluid">
    {% if feed_mod == 1 %}
    <div class="row row-cols-3 gx-5 gy-5">
    {% else %}
    <div class="row row-cols-2 gx-5 gy-5">
    {% endif %}
      {% for post in posts_sorted limit: feed_limit %}
      <div class="col">

	<div class="card cover-img">
	  <a href="{{ post.url }}">
	    {% if post.image.feature %}
	    <img src="/assets/images/{{ post.image.feature }}" class="card-img-top" alt="{{ post.title }}">
	    {% else %}
	    <img src="/assets/images/abstract.jpg" class="card-img-top" alt="{{ post.title }}">
	    {% endif %}
	  </a>

	  <div class="card-body">
	    <h3 class="card-title">
	      <a href="{{ post.url }}" class="stretched-link text-decoration-none text-reset">{{ post.title }}</a>
	    </h3>
	    <p>
	      {% if post.summary %}
	      {{ post.summary }}
	      {% else %}
	      {{ post.excerpt | strip_html | truncate: 140 }}
	      {% endif %}
	    </p>

	  </div>
	</div>
      </div>
      {% endfor %}
    </div>

    <p class="pt-4">
      <a href="/posts/">More posts &rarr;</a>
    </p>
  </div>
</section>
