<nav class="navbar navbar-expand-md navbar-light bg-light" aria-label="Navigation">
    <div class="container-fluid">
      <a class="navbar-brand fs-4" href="{{site.baseurlurl}}/index.html">Patrick Smyth</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">


		  {% assign current_url = page.url | remove_first: "/" | remove: ".html" | remove: "/" %}
		  {% for page_item in site.data.nav.pages %}
	          <li class="nav-item">
	            <a href="{{ page_item.url }}" class="fs-4 nav-link{% if current_url == page_item.url %} active{% endif %}" {% if current_url == page_item.url %}aria-current="page"{% endif %}>
		      {{ page_item.title }}
		    </a>
	          </li>
		  {% endfor %}

        </ul>

      </div>
    </div>




  </nav>
