<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <link rel="stylesheet" href="/assets/fa/css/font-awesome.min.css">


  </head>
  <body>

    <a class="visually-hidden-focusable" href="#main-content">Skip to main content</a>

    {% include nav.html %}

    <main id="main-content">
      {{ content }}
    </main>

    <footer class="container-fluid py-4 mt-5">
      <p class="mb-0">{{ site.title }}</p>
    </footer>

    {% include scripts.html %}

  </body>
</html>
