---
layout: default
---


<section>
  <div class="container-fluid px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">

      {% if page.image.feature %}

	<img src="{{site.baseurlurl}}/assets/images/{{page.image.feature}}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy">

      {% endif %}
	
      </div>
      {% if page.image.feature %}
      <div class="col-6">
        {% else %}
        <div class="col-12">
          {% endif %}
	<h1 class="display-1 fw-bold lh-5 mb-3">

	  {{ page.title }}<br>

	</h1>

	{% if page.subtitle %}
	<p class="display-6 text-secondary mb-3">{{ page.subtitle }}</p>
	{% endif %}

	{% if page.summary %}
	<p class="lead">
	  {{ page.summary }}
	</p>
	{% endif %}

	</p>
      </div>
    </div>
  </div>

</section>
  <hr>

{% if page.resources and page.resources.size > 0 %}
<section class="pb-5">
  
  <div class="d-grid gap-2 d-md-flex justify-content-start">
  <div class="row">
    <div class="col">

      {% for resource in page.resources %}
      <a class="btn btn-outline-primary btn-lg"
	href="{{ resource.link }}">
	{{ resource.text }}
      </a>
      {% endfor %}
    </div>
    
  </div>
  </div>
</section>
{% endif %}

{% if page.embed %}
<section class="pb-5">
  {% assign embed_start = page.embed | strip | slice: 0, 7 %}
  {% if embed_start == "<iframe" %}
  {{ page.embed }}
  {% else %}
    {% assign embed_url = page.embed %}
    {% if embed_url contains "youtube.com/watch?v=" %}
      {% assign yt_id = embed_url | split: "v=" | last | split: "&" | first %}
      {% assign embed_url = "https://www.youtube.com/embed/" | append: yt_id %}
    {% elsif embed_url contains "youtu.be/" %}
      {% assign yt_id = embed_url | split: "youtu.be/" | last | split: "?" | first %}
      {% assign embed_url = "https://www.youtube.com/embed/" | append: yt_id %}
    {% endif %}
  <div class="ratio ratio-16x9">
    <iframe src="{{ embed_url }}" allowfullscreen="" loading="lazy"></iframe>
  </div>
  {% endif %}
</section>
{% endif %}

<article>
  {{ content }}
</article>

</div>

